*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env

#CRITICAL TO REMOVE LATER FROM THE APP
app/google-services.json

#SERVER
/Server/.env

/Server/scripts/firebase-service-account.json
/Server/data/deviceTokens.sqlite
/Server/data/users.sqlite
/Server/data/wells.sqlite
ssh_connection_commands.txt
server.bat
/Server/node_modules/
cloud_tunnelling.bat 